# Generic build directory
build/

# CLion build directories
cmake-build-*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Executables
*.exe
*.out
*.app

external/quick_cache_rust/target/
